$color_white: #fff;
$color_black: #000;
$fsize: 14px;
$fontfamily:  'Open Sans';
$left: left;
$right: right;
$gradient: linear-gradient(to right, #d22beb 0%, #d22beb 0%, #1a94f2 100%);
$container: 1000px;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,cyrillic-ext);

body{
	font-family: $fontfamily;
	font-size: 14px;
	margin:0;
}
body *{
	@extend %borderBox;
}
a{
	color:#000;
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}
.container{
	width: $container;
	margin:0 auto;
	position: relative;
	@extend %clear;
}

.vfix {
	height: 100%;
	width: 0px;
	display: inline-block;
	vertical-align: middle;
}

@mixin button {
	width: 138px;
	height: 42px;
	line-height: 42px;
	background-color: #ed1f27;
	border-radius: 5px;
    box-shadow: 1px 1.7px #a92f34;
	color: $color_white;
	font-family: $fontfamily;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	display: block;
	text-align: center;
	min-width: 238px;
	position: relative;

	&:hover{
		background: #a92f34;
	}
}

.button{
	@include button;
	input {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		border: 0;
		background: url('../img/blank.gif');
		cursor: pointer;
	}
	&.btn-orange{
		height: 29px;
		line-height: 29px;
		min-width: 140px;
		font-size: 13px;
		background: #f36d2c;
	 	box-shadow: 1px 1.7px #a85e35;
	 	&:hover{
	 		background: #a85e35;
	 	}
	}
}

#wrapper{
	min-width: $container;
}
.inner{
	width: $container;
	margin: 0 auto;
} 