.reviews {
	padding: 50px 0 60px;
	.title{
		position: relative;
		&:before {
			content: '';
			background: url(../img/title-decor.png);
			position: absolute;
			width: 125px;
			height: 17px;
			bottom: 25px;
			left: 0;
			right: 0;
			margin: 0 auto;
			display: block;
		}
	}
} 
.client_info {
	width: 250px;
	float: right;
	margin-bottom: 20px;
}
	.client_info__name {
		color: black;
		font-family: OpenSans;
		font-size: 16px;
		font-weight: 600;
		line-height: 24px;
		text-transform: uppercase;
		display: inline-block;
	}
	.client_info__job{
		color: #959595;
		font-family: OpenSans;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		display: inline-block;
	}
	.rslider__rbody {
		font-size: 14px;
		line-height: 24px;
		clear: both;
		width: 83%;
		padding: 0 6%;
		float: left;
		position: relative;
    &:before {
			content: '';
			background: url(../img/quote-left.png);
			position: absolute;
			left: 0;
			bottom: 0;
			width: 35px;
			height: 29px;
    }
    &:after {
			content: '';
			background: url(../img/quote-right.png);
			position: absolute;
			right: 0;
			top: 0;
			width: 35px;
			height: 29px;
    }
	}
	.rslider__photo {
		float: right;
		width: 120px;
		height: 120px;
		overflow: hidden;
		border-radius: 100px;
	}
	.slick-dots {
		bottom: -60px;
	}
	.slick-dots li {
		width: 10px;
	}
	.slick-dots li button {
		background: url(../img/dots.png) no-repeat;
		width: 9px;
		height: 9px;
	}
	.slick-dots li.slick-active button {
		background: url(../img/dots-active.png) no-repeat;
	}
	.slick-dots li button:before {
		content: none;
	}

	.orange_button {
		@extend .order_button;
		width: 178px;
		background-color: #f36d2c;
		clear: both;
		float: right;
		z-index: 3;
	}
	.slick-prev, .slick-next {
    bottom: -50px;
    top: auto;
    z-index: 1;
	}
	.slick-prev, .slick-prev:hover, .slick-prev:focus {
		background: url(../img/arrow-left.png) no-repeat;
		width: 8px;
		height: 15px;
		left: 15%;
	}
	.slick-next, .slick-next:hover, .slick-next:focus {
		background: url(../img/arrow-right.png) no-repeat;
		width: 8px;
		height: 15px;
		left: 17%;
	}
	.slick-prev:before, .slick-next:before { content: none; }

	.rslider {
		position: relative;
		&:after {
	    content: '';
	    width: 85%;
	    height: 1px;
	    background-color: #f36d2c;
	    position: absolute;
	    right: 0;
	    bottom: -22px;
		}
	}

	.rvideo {
		padding: 50px 0;
		clear: both;
		background: url(../img/video-reviews-bg.jpg) no-repeat center top;
		height: 494px;
		.title {
			position: relative;
			color: #fff;
			margin-bottom: 30px; 
			&:before {
			content: '';
			background: url(../img/title_decor_light.png);
			position: absolute;
			width: 125px;
			height: 17px;
			bottom: 25px;
			left: 0;
			right: 0;
			margin: 0 auto;
			display: block;
		}
		}
	}
	.rvideo__item {
		display: inline-block;
		width: 491px;
		height: 280px;
	}
	.rvideo__item {
		display: inline-block;
		width: 491px;
		height: 280px;
		margin-right: 14px;
	}
	.rvideo__item:last-child {
		margin-right: 0;
	}